.itemDetail{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}

.itemDetailChildDiv{
  max-width: 33%;
}

.itemDetailImage{
  width: 90%;
  border: solid 2px black;
  border-radius: 5px;
}

@media screen and (max-width: 767px){
  .itemDetail{
    flex-direction: column;
  }

  .itemDetailChildDiv{
    max-width: 100%;
  }
}
