.item{
  background-color: #ABBBDE;
  border: solid 2px black;
  margin: 1rem;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.item:hover{
  filter: brightness(1.2);
  transition: 1s;
  transform: scale(1.1);
}

.itemImage{
/*  width: 90%;*/
  height: 10rem;
  border: solid 2px black;
  border-radius: 5px;

  width:10rem;
  margin: 1rem;
}

.itemButton{
  padding: 1rem;
  margin: 15px;
  background-color: #6B91E3;
  border-radius: 5px;
}

@media screen and (max-width: 767px){
  .item{
    flex-direction: column;
  }

  .itemP{
    padding: 0 3rem;
  }
}
