nav{
  display: flex;
  justify-content: space-around;
  background-color: tomato;
  align-items: center;
}

ul{
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

li{
  padding: 1rem;
}

li:hover{
  background-color: red;
}

@media screen and (max-width: 768px){
  nav{
    display: flex;
    flex-direction: column;
  }

  li{
    padding: 0.5rem;
  }
}
