nav{
  display: flex;
  justify-content: space-around;
  background-color: #6B91E3;
  align-items: center;
}

ul{
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

li{
  padding: 1rem;
  border-radius: 5px;
}

.NavLinkAnchor{
  text-decoration: none;
  color: black;
}

li:hover{
  background-color: #5370B0;
}

@media screen and (max-width: 768px){
  nav{
    display: flex;
    flex-direction: column;
  }

  li{
    padding: 0.5rem;
  }
}
